#content-container {

  #content {
    width: $display_area_with;
    margin: 0 auto;
    padding-top: $header_height + 80px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin-top: 20px;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  .post {
    margin-top: 40px;
  }

  .post:first-child {
    margin-top: 0;
  }

  h1:first-child {
    margin-top: 0;
    text-align: center;
    font-size: 24px;
  }

  h1.blog-title {
    text-align: center;
    margin-bottom: 0;

    a {
      text-decoration: none;

      &:link,
      &:active,
      &:visited,
      &:hover {
        color: inherit;
      }
    }
  }

  .blog-meta {
    text-align: right;
    margin-bottom: 5px;

    .blog-time {
      color: #555;
    }
  }

  a.read-more {
    &:link,
    &:active,
    &:visited,
    &:hover {
      text-decoration: none;
      font-style: italic;
    }
  }

  ul.pagination {
    clear: both;
    list-style: none;
    margin: 40px 0;
    padding: 0;
    display: inline;
    float: right;

    li {
      display: inline;

      a {
        text-decoration: none;

        &:link,
        &:active,
        &:visited,
        &:hover {
          color: #444;
        }

        &.current-page {
          color: #1da8be !important;
        }
      }

      &.jump-to-page {
        padding-left: 40px;

        input {
          width: 20px;
        }
      }
    }
  }

  #toc-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    padding: 0;
  }

  #blog-toc {
    //position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    //background-color: darkgray;
    padding: 0;
    margin: 0;
    display: none;

    #close-blog-toc {
      width: 40px;
      height: 30px;
      background-image: url("/image/bottom-arrow.png");
      background-repeat: no-repeat;
      background-size: 40px 30px;
      float: right;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: rgba(5, 5, 5, 0.1);
      }
    }

    ul#main-toc-list {
      list-style: none;
      padding: $header_height + 150px 20px 20px 20px;
      margin-top: 0;
      margin-left: 20px;
      border-left: 1px dashed #1da8be;
      height: 100%;
      font-size: 14px;

      ul.toc-list {
        list-style: none;
        padding: 0;
        margin: 0 0 0 20px;
      }

      li {
        margin: 0;
        padding: 0;
      }
    }
  }

  #toggle-toc {
    //background-color: #1da8be;
    //border-radius: 5px 5px 0 0;
    //padding: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    //right: 10px;
    padding-left: 25px;

    list-style: none;

    li {
      width: 15px;
      height: 2px;
      margin-bottom: 2px;
      background-color: #0fab90;
    }
  }

  table {
    border-collapse: collapse;
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
  }

  .footnote-definition {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed gray;

    .footnote-definition-label {
      float: left;
    }

    p {
      float: left;
      margin: 0 0 10px 5px;
      clear: right;
    }
  }

  td.list-item {
    padding: 1px;
    border-bottom: none;
  }

  pre {
    padding: 5px;
  }
}