.taxonomies {
  padding: 0;

  .taxonomies-title {
    @extend .taxonomy-title;
  }

  .taxonomies-items {
    @extend .taxonomy-list;
    list-style: none;

    .count {
      padding-left: 10px;
      color: gray;
    }
  }
}

.taxonomy {
  .taxonomy-page-title {
    color: #1da8be;
    font-size: 20px;
  }
}