{% extends "base.html" %}

{% block content %}
    <div class="taxonomy">
        <div class="taxonomy-page-title">分类: {{ term.name }} (共{{term.pages|length}}篇文章)</div>

        {% for year, posts in term.pages | group_by(attribute="year") %}
            <h2 class="year-archive">{{year}}<span class="count">{{posts|length}}</span></h2>

            <table class="archive-list">
                {% for post in posts %}
                    <tr>
                        <td>
                            <a href="{{ post.permalink }}">{{ post.title }}</a>
                        </td>

                        <td>
                            <span class="post-date">{{ post.date }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock content %}
