{% macro title(page) %}
    <header class="blog-header">
        <h1 class="blog-title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
        <div class="blog-meta">
            {% if page.date %}
                <span class="blog-time">{{ page.date | date(format="%F") }}</span>
            {% endif %}

            {% if page.category %}
                <div class="blog-category">
                    <a href="{{ get_taxonomy_url(kind="category", name=page.category) }}">{{ page.category }}</a>
                </div>
            {% endif %}
        </div>
    </header>
{% endmacro title %}
