{% extends "base.html"  %}

{% block content %}
{% set section = get_section(path="blogs/_index.md") %}

{% for year, posts in section.pages | group_by(attribute="year") %}
    <h2 class="year-archive">{{ year }}<span class="count">{{posts|length}}</span></h2>

    <table class="archive-list">
        {% for post in posts %}
            <tr>
                <td class="archive-item list-item">
                    <a href="{{ post.permalink }}">{{ post.title }}</a>
                </td>

                <td class="archive-item list-item">
                    <span class="post-date">{{ post.date }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock content %}
