{% extends "base.html" %}
{% import "macros/blog.html" as blog_macros %}
{% import "macros/toc.html" as toc_macros %}

{% block content %}
<div id="blog-content">
    {{ blog_macros::title(page=page) }}
    {{ page.content|safe }}
</div>

<div id="toc-container">
    <div id="blog-toc">
    <!--<div id="close-blog-toc"></div>-->
        <ul id="main-toc-list" class="toc-list">
            {% for h1 in toc %}
                {{ toc_macros::toc_list(h=h1) }}
            {% endfor %}
        </ul>
    </div>

    <ul id="toggle-toc">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
{% endblock content %}
